:root {
    --theme1-bg: #8a4e00;
    --theme1-bg90: #1a3da6E6;
    --theme2-bg: #116257;
    --theme2-bg70: #0f2462B3;
    --theme2-bg85: #116257d9;
    --primary-color: #fff;
    --secondary-color: #fff;
}


